
body {
    
    
    font-family: "Inter", sans-serif;
    font-family: "Readex Pro", sans-serif;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 300;
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  /*HEADER*/
  
  .container {
      margin: 0 73px;
      
  }
  
  .header-iner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  }
  
  nav a {
      margin-right: 34px;
      margin-bottom: 18px;
      color: black;
      text-decoration: none;
      font-family: "Inter", sans-serif;
  }
  nav a:hover {
      border-bottom: 2px solid;
      border-color: black;
    }
  
    /* MAIN */
    .container1 {
      display: flex;
      align-items: center;
      justify-content: space-between; 
      margin: 0 73px;
      background-color: #dce5e2;
      border-radius: 20px;
      margin-top: 28px;
      margin-bottom: 28px;
      width: 90vw;
    }
    .container1 a {
      margin-left: 18px;
     
    }
  
    .main-inner-left h1 {
      margin-left: 56px;
      font-size: 56px;
      font-weight: 400;
      font-family: "Readex Pro", sans-serif;
    }
    
    .main-inner-left p {
      margin-left: 56px;
      margin-top: 19px;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      margin-bottom: 19px;
    }
    
    .main-inner-left img {
      margin-left: 56px;
    }
    .main-inner-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 18px;
    }
    /* TEST SHOP */
  .shop-title{
    text-align:  center;
    margin-left: 56px;
    
  }
  .shop-title h1 {
    font-size: 56px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
  }
  .shop-title p {
    margin-top: 19px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-bottom: 19px;  
  }
  .container2 {
    display: flex;
    align-items: center;
    }
  .item1 {
  
    margin-right: 18px;
    background-color: white;
    height: 99vh;
  } 
  .item2 {
   
    background-color: white;
    height: 99vh;
  }
  .item3 {
   
    background-color: white;
  } 
  .item4 {
    background-color: white;
  
    margin-top: 48px;
  }
  .container3 {
    display: flex;
    margin-right: 12px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 22px;    
  }
  .section1 {
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0 73px;
    margin-top: 28px;
    margin-bottom: 28px;
    
  }
  .section1 div {
    align-items: center;
    display: flex;
  
   
    
  }
  .section1 img {
    background-color: white;
    align-items: center;
    display: flex;
  }
  
  /* SAVE */
  
  .save-title h1 {
    font-size: 56px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    text-align: center;
    margin-left: 56px;
    
  }
  .save-title p {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
   
  }
  .savep {
    background-size: cover;
      display: flex;
      align-items: center;
      justify-content: space-between; 
     margin: 0 73;
      margin-top: 28px;
      margin-bottom: 28px;
      margin-left: 56px;
      margin-right: 56px;
      flex-direction: row;
  }
  .save h2 {
    font-weight: 400;
    font-size: 22px;
    font-family: "Readex Pro", sans-serif;
    text-align: left;
    margin-top: 5px;
  }
  .save p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    text-align: left;
  }
  .post1:hover {
  text-decoration: underline;
  }
  .post2:hover {
  text-decoration: underline;
  }
  .post3:hover {
  text-decoration: underline;
  }
  .post4:hover {
  text-decoration: underline;
  }
    
  /* SEE */
   .see {
    margin-bottom: 24px;
   }
  .titlesee h1 {
    font-size: 56px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    text-align: center;
    margin-left: 56px;
  }
  
  .titlesee p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
  }
  .seebody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 73;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 56px;
    margin-right: 56px;
     */
    /* margin-top: 18px;
    padding: 0 73;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
  }
  
  .latest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dce5e2;
    width: 413px;
    height: 453px;
    margin-left: 73px;
    border-radius: 20px;
  }
  
  .best {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dce5e2;
    width: 413px;
    height: 453px;
    border-radius: 20px;
    
  }
  
  .every {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dce5e2;
    width: 413px;
    height: 453px;
    margin-right: 73px;
    border-radius: 20px;
  }
  
  .seebody h6 {
    width: 141px;
    height: 17px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    margin-top: 41px;
  }
  .seebody h2 {
    width: 253px;
    height: 35px;
    font-size: 28px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    text-align: center;
  }
  .seebody a:hover {
    transition: 1s;
   }
  .seebody a:hover {
   scale: 1.5;
  }
  
  /* IDEAS */
  .ideastitle h1{
    font-size: 56px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    text-align: center;
    margin-left: 56px;
  }
  .ideastitle p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 28px;
  }
  .ideasbody {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-left: 73px;
  }
  .ideasbody p {
    
    font-weight: 400;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    padding-bottom: 23px;
  }
  .ideasbody p {
    margin-right: 73px;
    margin-left: 35px;
  }
  .seeall {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
  margin-bottom: 52px;
  }
  .seeall p {
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }
  .seeall p:hover{
    border-bottom: 2px solid;
    border-color: black;
  }
  /* SEARCH */
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    background-color: #F8F9FA;
    flex-direction: row-reverse;
    width: 650px;
    border: 1px solid #C5C5C5;
  }
  .search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(/Users/artemy/Desktop/frontend/image/lupa.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    
  }
  
  .search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    line-height: 40px;
    width: 90%;
  }
  .lokingtitle h1{
    font-size: 42px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    text-align: center;
   
  }
  .moretop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .moretop img{
    margin-left: 7px;
  }
  .morebot{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .morebot img{
    margin-left: 7px;
    margin-top: 7px;
  }
  
  .never {
    background-size: cover;
    margin: 0 120px;
    background-color: #dce5e2;
    border-radius: 20px;
    margin-bottom: 19px;
    height: 55vh;
    margin-top: 61px;
  }
  .nevertitle h1 {
    font-size: 42px;
    font-weight: 400;
    font-family: "Readex Pro", sans-serif;
    text-align: center;
  }
  
  .nevertitle p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
  }
  .nevercenter {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  .search-bot {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 50px;
    border-radius: 40px;
    padding-left: 10px;
    background-color: #DCE5E2;
    flex-direction: row;
    width: 400px;
    border: 1px solid black;
    
  }
  .search-btn1 {
    width: 115px;
    height: 50px;
    border-radius: 0 40px 40px 0;
    background-color: #000000;
    background-repeat: no-repeat;
    display: flex;
  }
  
  .search-txt1{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    width: 90%;
    font-family: "Inter", sans-serif;
  }
  .search-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter", sans-serif;
  }
  .moretop a:hover {
    transition: 0.3s;
    scale: 1.1;
  } 
  .morebot a:hover {
    transition: 0.3s;
    scale: 1.1;
  } 
  
  /* FOOTER */
  .footer{
    background-color: #e5e8ea;
    border-top: 1px #DCE5E2 solid;
  }
  .footertop {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 73px;
    background-color: #e5e8ea;
  }
  .footertop h1 {
    color: black;
    font-weight: 400;
    font-size: 22px;
    line-height: 27.5px;
    font-family: "Readex Pro", sans-serif;
    margin-bottom: 19.72px;
    margin-top: 50px;
  
  }
  .footertop p {
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    font-family: "Inter", sans-serif;
    margin-bottom: 14.72px;
  }
  .zone1 img {
  margin-top: 50px;
   margin-bottom: 19.72px;
  }
  .footertop a{
    text-decoration: none;
  }
  
  .footerbot{
    display: flex;
    justify-content: space-between;
    margin: 0 73px;
    border-top: 1px solid black ;
  }
  .footerleft {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  white-space: nowrap;
  align-items: center;
  }
  .footerright {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    white-space: nowrap;
    align-items: center;
    }
    .footerbot h1 {
      font-family: "Readex Pro", sans-serif;
      font-size: 18px;
      font-weight: 400;
    }
    .footerbot p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
    }



    @media screen and (max-width: 1440px){
    .ideasbody p {
        font-size: 23px;
    }
        
        .savep{
            align-items: baseline;
        }
        .save p {
            font-size: 22px;
        }
        .save-title p {
            font-size: 20px;
        }
        .ideasbody p {
            font-size: 10px;
        }
        .item1 {
            margin-right: 18px;
            background-color: white;
            height: 765px;
        }
        .item2 {
            background-color: white;
            height: 765px;
        }
.seeall p{
    font-size: 24px;
}
            .save h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
                font-size: 21px;
    }
        .never{
            height: 35vh;
            margin-top: 20px;
        }
}

@media screen and (max-width: 1024px){
    .main-inner-left h1{
        font-size: 42px;
    }
        .seeall p {
        font-size: 18px;
    }
        .save h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
        .save p {
        font-size: 13px;
    }
    .main-inner-right img {
        margin-right : -40px;
}
.section1 {
    margin: 0 0 0 0;
}
.seebody img{
 width: 29vw;
 height: 19vh;
}
        .seeall p {
        font-size: 9px;
    }
.seebody a:hover {
    transition: 1s;
   }
  .seebody a:hover {
   scale: 0.0;
}
.ideasbody p {
    font-size: 21px;
}
.never{
    height: 42vh;
}
}
    
@media all and (min-width: 768px) and (max-width: 1023px){
    .container1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px;
        background-color: #dce5e2;
        border-radius: 20px;
        margin-top: 28px;
        margin-bottom: 28px;
        width: 100vw;
    }
        .save h2 {
        font-size: 23px;
        margin-bottom: 10px;
    }
        .save p {
        font-size: 20px;
    }

    .section1 {
        margin: 0 -62px 0 0;
    }
    .seebody img {
        width: 29vw;
        height: 20vh;
}
    .ideasbody p {
        font-size: 16px;
    }
        .seeall p {
        font-size: 20px;
    }
.never {
    height: 43vh;

}
}
